@charset "utf-8";
body h1 {
    color: #039AF7;
    font-style: oblique;
    font-size: 45px;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    border-width: 20px;
}
.picture {
    border-width: 20px;
}

.key {
    color: #FFAEE3;
    font-size: x-large;
}
body p img {
    border-width: 9px;
    border-style: none;
    font-size: 30px;
}
body p img {
    border-width: 19px;
}

body p img {
    border-width: 20px;
}
body {
    background-image: url(背景画像.jpg);
    background-size: 7px 192px;
    background-repeat: repeat;
}
