@charset "utf-8";
body p a {
    line-height: 51px;
}
body {
    background-image　= new Image(128,128); //image1 オブジェクトの作成
        background-image.src = "背景画像.jpg"; 
    background-repeat: repeat;
}
body h1 {
    color: #01B8F7;
}
